.model-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftside {
    display: flex;
    gap: 10px;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
}

.leftside label {
    padding: 10px 0px 10px 10px;
    margin: 10px;
}

.leftside select {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
    width: 200px;
}

.leftside select:hover {
    border-color: #888;
}

.leftside select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.leftside select:disabled {
    background-color: #c2bcbc;
}

.rightside {
    margin-right:20px;
    margin-left: auto;
}

.ag-header-group-cell-label, .ag-header-cell-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Ensures proper alignment vertically */
}

.result-output {
    background-color: #bdc49e;
    margin: 15px 55px;
    padding: 15px;
    border-radius: 20px;
    border-color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.model-page .box04 {
    width: 65%; /* Example width */
    height: 63vh; /* Example height */
    text-align: center; /* Center text horizontally */
    border: 1px solid black;
    margin-right:10px;
    border-radius: 20px;
    border-color: black;
    justify-content: center;
    box-sizing: border-box; /* Include padding and border in height calculation */
    /* padding:10px 20px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.model-page .box05 {
    width: 30%; /* Example width */
    height: 63vh; /* Example height */
    text-align: center; /* Center text horizontally */
    border: 1px solid black;
    border-radius: 20px;
    border-color: black;
    justify-content: center;
    flex-direction: column;   /* Stack items vertically */
    box-sizing: border-box; /* Include padding and border in height calculation */
    padding:10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fileupload{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5be55ba8;
    margin: 15px;

    border: 1px solid #5be55ba8;
    border-radius: 20px;
}

.fileupload h4 {
    font-size: 15px;
    margin: 0px;
    max-width: 70%;
    padding: 0px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.panel {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 20px;
    border-color: black;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 40px;
    background: #ccc;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    position: relative;
    user-select: none;
    transition: background-color 0.3s ease;
}

.toggle-button {
    width: 50%;
    height: 100%;
    background-color: #4A90E2;
    border-radius: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease

}

@keyframes slide-left {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0%);
    }
}

  @keyframes slide-right {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0%);
    }
}