.modal {
    text-align: center;
    position: fixed;
    padding: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(134, 131, 131, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modal-content {
    background: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

.modal-content button {
    margin-top: 50px;
    /* padding:20px; */
}

.side-by-side {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 8px;
    align-items: center;
}

.side-by-side button {
    margin:10px;
    border-radius: 8px;
    padding: 10px;
    width:100px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.side-by-side button:hover {
    background-color: #0056b3;
}

.side-by-side button:disabled {
    background-color: #cccccc; /* Light gray background */
    color: #666666; /* Darker gray text */
    cursor: not-allowed; /* Show "not-allowed" cursor */
    opacity: 0.6; /* Reduce opacity */
}

.close-btn {
    text-align: center;
    margin-top: 0px;
}

.close-btn button {
    width: 330px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eb1f29;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.close-btn button:hover {
    background-color: #bd1b23;
}


.input-container {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}

.input-container label {
    font-weight: bold;
    margin-right: 8px;
    min-width:100px;
    text-align: center;
}

.input-container input {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.input-container input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74,144,226,0.5)
}